/* _variables.scss */

$primaryColor: #007bff;
$secondaryColor: #4a4a4a;

:root {
  --primary-color: $primaryColor;
  --secondary-color: $secondaryColor;
}

$black: #000000;
$white: #ffffff;

$fontFamilyBase: 'Raleway', sans-serif;
$headingFont: 'Caveat', sans-serif;
