@use '../scss/abstracts/' as *;

.projects {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: 15%;
  height: 100vh;
  background-color: $white; 
  font-family: $fontFamilyBase;
  overflow: hidden;

  .h1 {
    padding-bottom: 60px;
  }

  .img-box{
    width: 60vw;
    height: 65vh;
    display: flex;
    gap: 30px;
    margin: 1vw;
    border-radius: 3vw;
    cursor: pointer;

    .img{
      width: 90%;
      height: 250px;
      border-radius: 10px;
      transform-origin:center;
      transform:perspective(500px) rotateY(20deg);
      -webkit-box-reflect: below 3px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.488)); 
      transition: 0.6s;
    }
    .h5 {
      opacity: 0;
    }

    .box1:hover .h5,
    .box2:hover .h5,
    .box3:hover .h5 {
      @include hover-effect;
    }
  }
}

.img-box .img{
  opacity: 0.7;

  &:hover{
    opacity: 1;
    transform: perspective(800px);

  }
}  


