.slideIn {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-out;

  &.isVisible {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
